<template>
  <div id="landing-page">

    <img src="@/assets/images/wliplogo.png" style='height: 80%; width: 80%; object-fit: contain'>

    <div class="box">
      <div>

        <div>
          <button class="connectBtn" @click="connect">{{connectLabel}}</button>
        </div>

        <div v-show="isConnected">
          <div class="radio-toolbar">
            <input type="radio" id="modeNormal" name="dataControl" value="normal" 
            v-model="dataControlMode" v-on:change="generate" checked>
            <label for="modeNormal">normal</label>

            <input type="radio" id="modeDouble" name="dataControl" value="double" 
            v-model="dataControlMode" v-on:change="generate">
            <label for="modeDouble">double</label>

            <input type="radio" id="modeImage" name="dataControl" value="image" 
            v-model="dataControlMode" v-on:change="generate">
            <label for="modeImage">image</label> 
          </div>
          
          <div class="legend">
            <span class="rowType">K/C</span>
            <span class="rowText">Text</span>
            <span class="rowCounter">Cnt</span>
          </div>

          <div v-for="(n, index) in rows" :key="index" class="row">
            <input type="checkbox" name="rowtype" v-model="lineActions[index]">
            <input type="text" 
              placeholder="text for row one"
              v-on:input="generate"
              v-model="inputParams[index]"
            >
            <span class="counter">{{ counters[index] }}</span>
          </div>

        </div>

      </div>
      
    </div>
    <div class="box" v-show="isConnected">
      <div class="result">
        <p>{{ msg }}</p>
        <!-- <p>{{ frameDataHeader }}</p> -->
        <!-- <p>{{ inputParams }}</p> -->
        <!-- <p>{{ frameData }}</p>  -->
        <!-- <p>{{ lineActions }}</p> -->
        <div class="radio-toolbar">
          <button class="connectBtn" @click="sendCMD" v-if="msg">Send</button>
          <button class="connectBtn clearBtn" @click="clear">Clear</button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

import axios from "axios";

const SerialPort = require('serialport');

const port = new SerialPort('/dev/ttyUSB0', {
  baudRate: 38400,
  dataBits: 8,
  parity: 'none',
  stopBits: 1,
  autoOpen: false
});

const LINES_NUMBER = 8;

export default {
  name: 'landing-page',
  data () {
    return {
      msg: '',
      command: [0xFF],
      header: [],
      frameDataHeader: [],
      frameData: [],
      lineActions: [],
      inputParams: [],
      crc: [],
      counters: [],
      dataControlMode: "normal",
      connectLabel: "Connect...",
      isConnected: false,
      sourceID: 0,
      rows: LINES_NUMBER,
      userDataLength: 0
    }
  },

  created() {
    console.log("on create!");

    for (let i=0; i<LINES_NUMBER; i++) {
      this.lineActions[i] = false;
      this.counters[i] = 0;
      this.inputParams[i] = "";
    }
    this.$set(this.inputParams, 0, "Time: 15:55:48");
  },

  watch: {
    isConnected: function(val) {
      if (val)
        this.connectLabel = "Disconnect: " + this.sourceID.toString();
      else 
        this.connectLabel = "Connect...";
    },

    dataControlMode: function(val) {
      if (val === "normal")
        this.rows = LINES_NUMBER;
      if (val === "double")
        this.rows = LINES_NUMBER/2;
      if (val === "image")
        this.rows = 0;
    },

    userDataLength: function(val) {
      if (val == 0) 
        this.msg = "";
    }

  },

  methods: {
    generate() {

      this.msg = "";

      this.header = [0x00, 0x00, 0x00]; // 3 bytes for the header
      this.frameDataHeader = [];
      this.frameData = [];
      this.crc = [];
      this.counters = [];
      let dataLength = 0;

      for (let i=0; i<this.inputParams.length; i++) {
        if (this.inputParams[i] != null) {
          this.frameData.push(this.inputParams[i]);
          this.counters[i] = this.inputParams[i].length;
          dataLength += this.inputParams[i].length;
        }
      }

      console.log(this.lineActions);

      this.userDataLength = dataLength;

      let dcm = 0;
      if (this.dataControlMode === "normal")
        dcm = 0x00;
      else if (this.dataControlMode === "double")
        dcm = 0x01;
      else if (this.dataControlMode === "image")
        dcm = 0x02;
      else dcm = 0x00;

      let dataHeaderLength = this.rows * 1; // 5 bits: rows*lineInfo(1byte)

      // SetupInfo
      let setupInfo = (this.sourceID << 5) | dataHeaderLength;

      let action;
      // Line Info: keep(0), clear(1), change(2)
      for (let j=0; j<this.rows; j++) {  

        let lineLength = this.inputParams[j] ? this.inputParams[j].length : 0;

        if (this.lineActions[j])
          action = 0x01;
        else {
          if (lineLength == 0)
            action = 0x00;
          else 
            action = 0x02;
        }
        
        let b = (action << 6) | lineLength;
        this.frameDataHeader.push(b.toString(16).padStart(2, "0"));
      }
    
      let length = this.header.length + this.frameDataHeader.length + dataLength + 2; // 2 is CRC
      console.log("L: " + length);

      this.header[0] = length.toString(16).padStart(2, "0"); // packet length
      this.header[1] = (dcm & 0x0F).toString(16).padStart(2, "0"); // DataControl
      this.header[2] = setupInfo.toString(16).padStart(2, "0"); // SetupInfo

      // TODO: add real CRC16 CCITT Xmodem
      // this.crc[0] = 0x23.toString(16).padStart(2, "0");
      // this.crc[1] = 0x47.toString(16).padStart(2, "0");

      this.msg = 
        this.testHex2String(this.command) +
        this.header.join('') +
        this.frameDataHeader.join('') +
        this.testHex2String(this.frameData.join('')); // +
        // this.crc.join('');

      this.crc = this.crc16xmodem(this.msg);
      this.msg += this.crc.join('');
    },

    crc16xmodem(str1) {
      const buf = Buffer.from(str1, 'hex');
      let crc = typeof previous !== 'undefined' ? ~~previous : 0x0;

      for (let index = 0; index < buf.length; index++) {
        const byte = buf[index];
        let code = (crc >>> 8) & 0xff;

        code ^= byte & 0xff;
        code ^= code >>> 4;
        crc = (crc << 8) & 0xffff;
        crc ^= code;
        code = (code << 5) & 0xffff;
        crc ^= code;
        code = (code << 7) & 0xffff;
        crc ^= code;
      }

      console.log(crc.toString(16));

      let str = crc.toString(16);
      var a = [];

      str = str.padStart(4, "0"); // make sure we have also the leading 0, if needed
      for (var i = 0; i < str.length; i += 2) {
          a.push(str.substr(i, 2));
      }

      console.log(a); // prints the array
      console.log(a.join(" ")); // turn the array into a string of hex values
      console.log(parseInt(a[1], 16)); // parse a particular hex number to a decimal value
      return a;
    },

    connect() {
      if (this.isConnected) {
        window.outerHeight = 400;
      } else {
        window.outerHeight = 800;
      }
      return this.isConnected = ! this.isConnected;
    },

    sendCMD() {
      console.log("sending frame...");

      this.generate();

      axios.post('http://127.0.0.1:5000/stream', this.msg)
        .then(response => {
          console.log("packet sent");
        })
        .catch(e => {
          console.log("error accessing API");
        });
      
      // let arr = [0x03, 0xff, 0x14, 0x02, 0x06, 0x03, 0x85, 0x86, 0x01, 0x01, 0x0c, 0x68, 0x65, 0x6c, 0x6c, 0x6f, 0x77, 0x6f, 0x72, 0x6c, 0x64, 0x21, 0x00];
      // let arr = new Buffer([0xFF, 0x14, 0x00, 0x06, 0x00, 0x85, 0x86, 0x00, 0x00, 0x00, 0x68, 0x65, 0x6C, 0x6C, 0x6F, 0x77, 0x6F, 0x72, 0x6C, 0x64, 0x21]);
      // const buff = Buffer.from([0xFF, 0x14, 0x00, 0x06, 0x00, 0x85, 0x86, 0x00, 0x00, 0x00, 0x68, 0x65, 0x6C, 0x6C, 0x6F, 0x77, 0x6F, 0x72, 0x6C, 0x64, 0x21]);
      
      // const buff1 = Buffer.from(this.msg, 'hex');
      // console.log(buff1);

      // let arr1 = "FF14000600858600000068656C6C6F776F726C6421";

      /*port.open(function (error) {
        if (error) {
            console.log('Error while opening the port ' + error);
        } else {
            console.log('CST port open');
        }              
      });

      port.write(buff1, 'hex', function(err) {
        if (err) {
          return console.log('Error on write: ', err.message)
        }
        console.log('message written')
      });
      port.flush();

      port.close();*/
    },

    clear() {
      let clearMsg = "FF0D0008404040404040404059F0";
      axios.post('http://127.0.0.1:5000/stream', clearMsg)
        .then(response => {
          console.log("packet sent");
          for (let i=0; i<this.inputParams.length; i++) {
            this.$set(this.inputParams, i, null);
          }
        })
        .catch(e => {
          console.log("error accessing API");
        });
    },

    hex2ascii(str1) {
      var hex  = str1.toString();
      var str = '';
      for (var n = 0; n < hex.length; n += 2) {
        str += String.fromCharCode(parseInt(hex.substr(n, 2), 16));
      }
      return str;
    },

    toHexString(byteArray) {
      var s = '0x';
      byteArray.forEach(function(byte) {
        s += ('0' + (byte & 0xFF).toString(16)).slice(-2);
      });
      return s;
    },

    testHex2String(data) {
      var buff = new Buffer(data, 'utf8');
      return buff.toString('hex').toUpperCase();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
  color: green;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.oled-display {
  height: 400px;
  width: 600px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000; */
}

.box div {
  width: 400px;
  /* height: 100px; */
  /* background-color: #000; */
}

input {
  width: 70%;
  padding: 1em;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #000;
  color: greenyellow;
  font-size: 105%;
  display: inline-block;
}

.row {
  width: 100%;
  display: inline-block;
}

input[type=checkbox] {
  font-size: 200%;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-color: white;
}

.counter {
  width: 5%;
  color: cornflowerblue;
  display: inline-block;
  font-weight: bold;
}

.result {
  margin: 1.5em;
  font-weight: bold;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}


.connectBtn {
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;  
  min-width: 10em;
}

.connectBtn:hover {
  cursor: pointer;
}

.connectBtn:active {
  background-color: #fff;
  border-color: green;
}

.clearBtn {
  background-color: blueviolet;
  color: white;
}

.legend {
  font-size: 110%;
  font-weight: bold;
  color: #4c4;
  border-bottom: 1px solid #ccc;
  margin-top: 0.8em;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
}

.rowType {
  display: inline-block;
  width: 20%;
  text-align: left;
}
.rowText {
  display: inline-block;
  width: 55%;
  text-align: center;
}
.rowCounter {
  display: inline-block;
  width: 20%;
  text-align: right;
}


/* radio buttons */
.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}
</style>
